<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5</key>
	<string>اللهم صل وسلم على سيدنا محمد البشير المُبَشِّر للمؤمنين بما قال الله العظيم (وَأَنَّ اللّهَ لاَ يُضِيعُ أَجْرَ الْمُؤْمِنِينَ).</string>
	<key>6</key>
	<string>اللهم صل وسلم على سيدنا محمد البشير المُبَشِّر للذاكرين بما قال الله العظيم (فَاذْكُرُونِي أَذْكُرْكُمْ) (اذْكُرُوا اللَّهَ ذِكْرًا كَثِيرًا، وَسَبِّحُوهُ بُكْرَةً وَأَصِيلاً، هُوَ الَّذِي يُصَلِّي عَلَيْكُمْ وَمَلائِكَتُهُ لِيُخْرِجَكُم مِّنَ الظُّلُمَاتِ إِلَى النُّورِ وَكَانَ بِالْمُؤْمِنِينَ رَحِيمًا، تَحِيَّتُهُمْ يَوْمَ يَلْقَوْنَهُ سَلامٌ وَأَعَدَّ لَهُمْ أَجْرًا كَرِيمًا).</string>
	<key>7</key>
	<string> اللهم صل وسلم على سيدنا محمد البشير المُبَشِّر للعاملين بما قال الله العظيم (أنِّي لاَ أُضِيعُ عَمَلَ عَامِلٍ مِّنكُم مِّن ذَكَرٍ أَوْ أُنثَى) وبما قال (مَنْ عَمِلَ صَالِحًا مِّن ذَكَرٍ أَوْ أُنثَى وَهُوَ مُؤْمِنٌ فَأُوْلَئِكَ يَدْخُلُونَ الْجَنَّةَ يُرْزَقُونَ فِيهَا بِغَيْرِ حِسَابٍ).</string>
	<key>8</key>
	<string> اللهم صل وسلم على سيدنا محمد البشير المبَشَّر للأوابين بما قال الله العظيم (فَإِنَّهُ كَانَ لِلأَوَّابِينَ غَفُورًا) (لَهُم مَّا يَشَاءونَ عِندَ رَبِّهِمْ ذَلِكَ جَزَاء الْمُحْسِنِينَ).</string>
	<key>9</key>
	<string>اللهم صل وسلم على سيدنا محمد البشير المبَشِّر للتوابين بما قال الله العظيم (إِنَّ اللّهَ يُحِبُّ التَّوَّابِينَ وَيُحِبُّ الْمُتَطَهِّرِينَ) (وَهُوَ الَّذِي يَقْبَلُ التَّوْبَةَ عَنْ عِبَادِهِ وَيَعْفُو عَنِ السَّيِّئَاتِ).</string>
	<key>1</key>
	<string>اللهم صلِّ وسلم وبارك على سيدنا محمد وعلى آل سيدنا محمد قطب السيادة والمجد والفخار ، وخير من تهجد لربه آناء الليل وأطراف النهار .</string>
	<key>2</key>
	<string>اللهم صلِّ وسلم وبارك على سيدنا محمد وعلى آل سيدنا محمد عين سر الوجود بلسان كل معدوم وموجود ، من حباه الله وأكرمه بمنةٍ وعطاءٍ وفضلٍ وجودٍ .</string>
	<key>3</key>
	<string>اللهم صلِّ وسلم وبارك على سيدنامحمد وعلى آل سيدنا محمد خير من أقتبست منه بدور الكائنات ضياءها ، وبه سائر المخلوقات لم تقطع من الله يوم القيامة رجاءها .</string>
	<key>4</key>
	<string> اللهم صل وسلم على سيدنا محمد البشير المُبَشِّر للعاملين بما قال الله العظيم (أنِّي لاَ أُضِيعُ عَمَلَ عَامِلٍ مِّنكُم مِّن ذَكَرٍ أَوْ أُنثَى) وبما قال (مَنْ عَمِلَ صَالِحًا مِّن ذَكَرٍ أَوْ أُنثَى وَهُوَ مُؤْمِنٌ فَأُوْلَئِكَ يَدْخُلُونَ الْجَنَّةَ يُرْزَقُونَ فِيهَا بِغَيْرِ حِسَابٍ).</string>
</dict>
</plist>
