<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>repeatTimer</string>
			<key>DefaultValue</key>
			<string>One</string>
			<key>Title</key>
			<string>توقيت التكرار</string>
			<key>Titles</key>
			<array>
				<string>كل نصف ساعه</string>
				<string>كل ساعه</string>
				<string>كل ساعتين</string>
				<string>كل ٣ ساعات</string>
			</array>
			<key>Values</key>
			<array>
				<string>30</string>
				<string>60</string>
				<string>180</string>
				<string>360</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>بين صلوات اليوم فقط</string>
			<key>Key</key>
			<string>betweePrayersOnly</string>
			<key>DefaultValue</key>
			<string>10</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>خلفيه الصفحه..</string>
			<key>Key</key>
			<string>colorId</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
